.content {
  border: 1px solid lightgrey;
  color: grey;
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
}

.content.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content ul {
  padding: 0;
  display: inline-block;
  width: 155px;
  height: 255px;
  margin: 5px 10px;
  flex-basis: auto;
}

.content .list {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.content .list li {
  text-decoration: none;
}

.content .list li p {
  font-size: 15px;
}

.content .temp li {
  display: inline-block;
  width: 45px;
}

.content .list .desc {
  font-weight: bold;
}

.content .temp .val {
  font-size: 12px;
}
