.content-area section {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 720px;
  height: 780px;
}

.content-area section .content-load {
  border: 1px solid lightgrey;
  color: grey;
  height: 200px;
  margin-top: 45px;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.content-area article {
  float: left;
  width: 120px;
}

.content-area article .nav-btn.selected {
  font-weight: bold;
  background-color: lightgrey;
  border: 1px dashed white;
}

.content-area article .nav-btn {
  border: 1px dashed lightgrey;
  display: inline-block;
  width: 120px;
  box-sizing: border-box;
}
